
/build/Desktop-Debug
/libs
/build/CMakeFiles
.qtcreator/CMakeLists.txt.user
build/cmake_install.cmake
build/CMakeCache.txt
build/FE
build/FE
build/FE
/ContentBackup
build/FE
build/Content/placeholder (копия).jpg
build/Makefile
build/FE
